mixin common-mixin(catagory1)
	div.section-title
		img(src='../images/datacenter/dset-build.png')
		span= catagory1		
	div.section-item
		img(src ="../images/datacenter/data-name.png")
		span 名称:
		input(type = "text")
	div.section-item
		img(src="../images/datacenter/data-intro.png")
		span 简介:
		textarea
			