mixin dataset-build
	div.section-container
		div.section-title
			img(src="../images/datacenter/dset-build.png")
			span 创建数据集		
		div.section-item
			img(src="../images/datacenter/data-name.png")
			span 名称：
			input(type="text")
		div.section-item
			img(src="../images/datacenter/data-intro.png")
			span 简介：
			textarea
		div.section-item
			img(src="../images/datacenter/data-type.png")
			span 类型：
			select
				option aa
				option bb
				option cc
				option dd
		input.section-button(type="button" value="数据集权限设置")