mixin virtual-machine
  div.vm-section
    div.section-title
      img(src="../images/datacenter/virtual_machine.png")
      span 虚拟机设置
    div.section-item
      span CPU
      input(type="text")
      span 内存
      input(type="text")
      span 卷大小
      input(type="text")