mixin map-pages
  ul.map-pages
    li.map-pagelist 
      span Previous   
    li.map-pagelist 
      span 1
    li.map-pagelist 
      span 2
    li.map-pagelist  
      span 3
    li.map-pagelist 
      span 4
    li.map-pagelist 
      span 5    
    li.map-pagelist 
      span 6   
    li.map-pagelist 
      span Next     
