mixin map-box-list
  li.map-box-list
    img.onemap(src="../images/mapcenter/onemap.png")
    p 高效的在线制图，可定制的在线制图，专业的在线制图
    div.operate-list
      span 
        img(src="../images/mapcenter/copy.png")
        span 复制
      span 
        img(src="../images/mapcenter/edit.png")
        span 修改
      span
        img(src="../images/mapcenter/delete.png")
        span 删除
    div.map-info
      span.map-name 张三
      span.map-date 2016-04-18 
