// 导航栏
nav.page-nav
  div.logo
    img
  span.title 武汉市公安局云GIS平台
  ul.onelevel-ul
    li.onelevel-li
      a(href="./home.html") 首页
    li#mapcenter-li.onelevel-li
      a 地图中心
      img.tj(src="../images/mapcenter/down-jt.png")
      ul.mapcenter-secondlevel-ul
        li
          a(href="./mapcenter.html#newmappage") 最新地图
        li
          a(href="./mapcenter.html#mymappage") 我的地图
        li 
          a(href="./mapcenter.html#mapfactorypage") 地图工厂     
    li.onelevel-li
      a 数据中心
      img.tj(src="../images/mapcenter/down-jt.png")
      ul.mapcenter-secondlevel-ul
        li
          a(href="./datacenter.html#datasetpage") 数据集
        li
          a(href="./datacenter.html#personspacepage") 个人空间
        li 
          a(href="./datacenter.html#toolsetpage") 工具集  
    li.onelevel-li 
      a 运维中心
      img.tj(src="../images/mapcenter/down-jt.png")
      ul.mapcenter-secondlevel-ul
        li
          a(href="./operacenter.html#mapmanagerpage") 地图管理
        li
          a(href="./operacenter.html#resmanagerpage") 资源管理
        li 
          a(href="./operacenter.html#rightmanagerpage") 权限管理  
        li 
          a(href="./operacenter.html#sysmanagerpage") 系统管理
    li.onelevel-li 
      a(href="./devcenter.html")  开发中心
      //- img.tj(src="../images/mapcenter/down-jt.png")
      //- ul.mapcenter-secondlevel-ul
        //- li
        //-   a(href="./devcenter.html#mapmanagerpage") 地图管理
        //- li
        //-   a(href="./devcenter.html#mapmanagerpage") 快速制图
        //- li 
        //-   a(href="./devcenter.html#mapmanagerpage") 高级制图  
    li.onelevel-li 
      a(href="./about.html") 联系我们
