// 页脚
footer
  div.link
    span 政企网站
    span 相关链接
  ul.sitemap
    li 
      a 湖北省政府
    li 
      a 湖北省公安厅
    li 
      a 武昌区公安局
    li 
      a 汉阳区公安局
    li 
      a 武汉市公安局
    li 
      a 湖北省政府
    li 
      a 湖北省公安厅
    li 
      a 武昌区公安局
    li 
      a 汉阳区公安局
    li 
      a 武汉市公安局
    li 
      a 湖北省政府
    li 
      a 湖北省公安厅
    li 
      a 武昌区公安局
    li 
      a 汉阳区公安局
    li 
      a 武汉市公安局
div.bigcopyright
  p Copyright武汉联图时空2016 地址： 湖北省武汉市武昌区八一路299号 邮编：430072
  p 鄂ICP备05002220鄂公安局备42105002000
