#new03 {
	.attribute-build {
		.attribute-table {
			float: left;
			width: 1100px;
			table {
				width: 100%;
				max-height: 200px;
				overflow-y: auto;
				font-size: 14px;
			}
		}
		.attribute-button {
			height: 200px;
			width: 26px;
			float: right;
			position: relative;
			right: 20px;
			img:first-child {
				position: absolute;
				top: 45px;				
			} 
			img:last-child {
				position: absolute;
				top: 100px;				
			}               
		}
		.clear {
			clear: both;
		}
	}	
	.param-setting {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		padding: 20px 38px;		
		.param-item {
			margin-left: 15px;
			font-size: 14px;
			margin-bottom: 20px;
			table {
				width: 1130px;
			}
		}			
	}
	input.add-button {
		margin-left: 38px;
		margin-bottom: 20px;
	}
	input.build-button {
		@extend .delete-shadow;
		@extend .section-button;
		position: relative;
		left: 900px;
		margin-bottom: 40px;
		width: 100px;		
	}
}
